/* globals */

@import url(http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold);

html {
  font:100%/1 "Droid Sans", "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}

.main {
  width: 70%;
  margin: auto;
}

.content{
  margin: auto;
  width: 55%;
}

.header{
  margin: auto;
  width: 60%;
  text-align: center;
}

button {
    background-color: teal;
    border: none;
    color: white;
    padding: 10px 38px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}

a { text-decoration: underline;}

h2 {
    color: black;
    text-align: left;
    font-size: 100%;
}

.right {
    position: absolute;
    right: 0px;
    top:0px;
}

.left {
    position: absolute;
    left: 0px;
    top:0px;
}

.activebezelbtn{
  background-color: darkgrey;
}

.inactivebezelbtn{
  background-color: lightgrey;
}

.counter{
  font-weight: bold;
  font-size: 18px;
}

.appWindow{
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
}

.center-cropped {
  padding: 0px;
  margin: 0px;
  width: 300px;
  height: 125px;
}


.full-width-bar {
  margin: 0 -9999rem;
  /* add back negative margin value */
  padding: 0.25rem 9999rem;
  background-color: grey;
  vertical-align: top;
}

.full-width-bar-bottom {
  margin: 0 -9999rem;
  /* add back negative margin value */
  padding: 0.25rem 9999rem;
  vertical-align: bottom;
}

.statusfocus{
  color: rgb(1,25,133);
  font-size: 18px;;
}

.statusrelax{
  color: rgb(156,146,6);
  font-size: 18px;;
}

.bezelfocus{
  margin: auto;
  margin-top: 75px;
  width: 50%;
  height: 220px;
  width: 566px;
  background: radial-gradient( rgba(21,96,118,.65) 20%, rgba(21,115,143,.9) 60%);
}

.bezelrelax{
  margin: auto;
  margin-top: 75px;
  width: 50%;
  height: 220px;
  width: 566px;
  background: radial-gradient( rgba(245,237,132,.4) 20%, rgba(207,195,33,.65) 60%);
}

.btncluster{
  margin:auto;
  margin-top: 0px;
  width: 50%;
  margin-top: 0px;
  width: 566px;
}

.gaugefocus{
  text-align: center;
  margin: auto;
  padding:0px;
  font-size: 1750%;
  color: rgb(5,18,74);
  border: 8px grey;
}

.gaugerelax{
  text-align: center;
  margin: auto;
  padding:0px;
  font-size: 1750%;
  color: rgb(94,94,38);
  border: 8px grey;
}

.footerul li{
  display: inline;
}
